<div class="tile">
    
        <div class="title-tile"><%- `${title}` %></div>
        <div class="artist-tile"><%- `by ${artist}` %></div>
        <div class="streams-tile"><%- `(${streams} streams)` %></div>
</div>