/* song css */

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 20px;
    border-bottom: solid 1px black;
}
.song:last-child {
    margin-bottom: 0;
}

.rank-section > *, .title-section > *, .date-section > *, .id-section > * {
    margin-bottom: 5px;
}
.rank-section, .id-section{
    margin-right: 18px;
}

.rank, .id {
    font-weight: bold;
    font-size: 2rem;
}

.streams, .type {
    font-size: 0.8rem;
}
.title-section {
    flex:8
}

.wrapper .title {
    font-weight: bold;
    font-size: 1.5rem;
}
.wrapper .artist, 
.wrapper .author {
    font-style: italic;
}
.date {
    font-size: 1rem;;
}

.link {
    text-decoration: underline;
    cursor: pointer;
}

.link:hover {
    color: crimson
}