<%- include('../partials/header', { title }) %>
<main class="main">
    <div class="book-page">
        <%- include('../partials/bookTile', { book }) %>
    </div>
</main>
<%- include('../partials/footer')  %>